dist/
Others/adb_tool/dist/
Others/adb_tool/build/
Others/adb_tool/logs/
/Others/adb_tool/logs/
/Others/adb_tool/download_log_*/
/Others/adb_tool/Update_logs/
/Others/database_related/*_wanted_structure.txt
/Others/database_related/update_database_tool/Update_logs/
/Others/API_tool/data/*
/Others/map/uploads/*

/findcar_auto/z_run_pytest/report/allure-results/*
/findcar_auto/z_run_pytest/report/allure-report/*
/findcar_auto/z_run_pytest/pytest_log/*
/findcar_auto/pictures/verified_picture/verify_code.png
/Others/map/markers.json
/Others/map/interactive_map.html
/findcar_auto/file/*
