.idea/*
dist/
Others/adb_tool/dist/
Others/adb_tool/build/
Others/adb_tool/logs/
/Others/adb_tool/logs/
/Others/adb_tool/download_log_*/
/Others/adb_tool/Update_logs/
/Others/database_related/*_wanted_structure.txt
/Others/database_related/update_database_tool/Update_logs/
/Others/database_related/update_database_tool/data/new_db*
/Others/database_related/update_database_tool/data/old_db*
/Others/API_tool/data/*
/Others/map/uploads/*


/Findcar_auto/z_run_pytest/report/allure-results/*
/Findcar_auto/z_run_pytest/report/allure-report/*
/Findcar_auto/z_run_pytest/pytest_log/*
/Findcar_auto/pictures/verified_picture/verify_code.png
/Findcar_auto/API_tool/data/*


/Others/map/markers.json
/Others/map/interactive_map.html
/Findcar_auto/file/*


/Locust/log/*

/Others/liuma_platform/logs/*
/Others/flask_server/log/*

/Others/device_command_tool/device_simulation_engine/app/logs/*
/Others/device_command_tool/device_simulation_engine/app/resource/*
